<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>

<h1>Dice Roll<h1>

<h3>
<form action="/process_roll">
  <label for="dice" name="dice">Number of dice to roll?</label>
    <input id="dice" type="text" name="dice">
  <label for="sides" name="sides">How many sides per die?</label>
    <input id="sides" type="text" name="sides">

  <button>Roll!</button>
</form>
</h3>
